@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&display=swap');

/* 
font-family: 'Cardo', serif;
font-family: 'Inter', sans-serif; 
*/

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;  
    font-weight: 400;  
}
.container {
    max-width: 1310px;
    padding: 0 30px;
    margin: 0 auto;
}
.btn {
    background-color: #ffca42;
    padding: 18px 50px;
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 18px;
    line-height: 28px;
    max-width: 220px;
    color: #1b3764
}
.btn:hover {
    text-decoration: underline;
}
.btn:active {
    position: relative;
    top: 1px;
}
.section_title {
    font-size: 42px;
    line-height: 50px;
    font-family: 'Cardo', serif;
    color: #1b3764;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.section_title::after {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #ffca42;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.section_title-left {
    text-align: left;
}
.section_title-left::after {
    left: 24px;
}
.section_title-white {
    color: #fff;
}
/* header ============= */
.header {
    padding: 40px 70px 100px;
    background-color: #1b3764;
    color: #fff;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 100px;
}
.nav_list {
    display: flex;
    max-width: 440px;
    justify-content: center;
    column-gap: 50px;
}
.nav_link {
    color: inherit;
}
.nav_link:focus,
.nav_link:hover,
.nav_link:active {
    color: #ffca42;
}
/* /header ============= */

/* intro================ */
.intro_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
}
.intro_image {
    max-width: 590px;
    height: auto;
}
.intro_data {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}
.intro_title {
    font-size: 64px;
    line-height: 78px;
    font-family: 'Cardo', serif;
    font-weight: 400;
}
.intro_suptitle {
    font-size: 21px;
    line-height: 31px;
    font-family: 'Cardo', serif;
    position: relative;
    top: 0;
    left: 40px;
}
.intro_suptitle::before {
    display: block;
    content: "";
    width: 35px;
    height: 2px;
    background-color: #ffca42;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}
.intro_subtitle {
    font-size: 18px;
    line-height: 28px;
    color: #b4c7e7;
}
.intro_buttons {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.intro_link {
    font-family: 'Cardo', serif;
    font-size: 19px;
    line-height: 30px;
    border-bottom: 1px solid #fff;
    color: inherit;
}
.intro_characteristic {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 10px;

    margin-top: 20px;
}
.char_item {
    position: relative;
    top: 0;
    left: 26px;
}
.char_item::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-color:#ffca42;
    border-radius: 50%;
    
    position: absolute;
    top: 2px;
    left: -26px;
}
.char_title {
    font-family: 'Cardo', serif;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
.char_meaning {
    font-size: 17px;
    line-height: 27px;
    color: #b4c7e7;
}
/* /intro=============== */

/* books================ */
.books {
    padding: 130px 0;
    background-color: #f5f5f5;
}
.books_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 40px;
}
.books_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
}
.books_image {
    max-width: 285px;
    height: auto;
}
.books_data {
    max-width: 285px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.book_heading {
    font-size: 32px;
    line-height: 38px;
    font-family: 'Cardo', serif;
    color: #1b3764;
}
.book_price {
    font-size: 22px;
    line-height: 32px;
    color: #ffca42;
}
.book_descr {
    font-size: 19px;
    line-height: 28px;
    color: #969aa0;
    max-width: 287px;
}
.book_kind {
    font-size: 24px;
    line-height: 29px;
    color: #1b3764;
    font-family: 'Cardo', serif;
    position: relative;
    top: 0;
    left: 20px;
}
.book_kind::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #ffca42;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 7px;
}
.order_btn {
    font-family: 'Cardo', serif;
    font-size: 19px;
    line-height: 28px;
    color: #1b3764;
    text-align: center;
    padding: 18px 50px;
    border: 2px solid #ffca42;
    max-width: 202px;
}
.order_btn:active {
    position: relative;
    top: 1px;
}
.order_btn-white {
    max-width: 222px;
    color: #fff;
}
/* /books=============== */

/* author=============== */
.author {
    background-color: #f5f8fc;
    padding: 150px 0;
}
.author_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
}
.author_photo {
    max-width: 500px;
}
.author_data {
    max-width: 600px;
}
.author_title {
    text-align: left;
}
.author_title.section_title::after {
    left: 24px;
}
.author_descr {
    font-size: 19px;
    line-height: 34px;
    color: #969aa0;
    margin-bottom: 20px;
}
.author_benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.benefits_item {
    border-right: 1px solid #ffca42;
    padding: 0 20px;
}
.benefits_item:last-child {
    border-right: none;
}
.benefit_count {
    font-family: 'Cardo', serif;
    color: #1b3764;
    font-size: 54px;
    line-height: 77px;
    text-align: center;
}
.benefit_descr {
    font-size: 17px;
    line-height: 21px;
    color: #969aa0;
}
.author_card {
    background-color: #1b3764;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    max-width: 490px;
    padding: 10px;
}
.card_data {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.card_heading {
    font-family: 'Cardo', serif;
    font-size: 22px;
    line-height: 26px;
    color: #ffca42;
}
.card_email,
.card_tel {
    font-size: 18px;
    line-height: 28px;
    color: #b4c7e7;
}
/* /author============== */

/* brands=============== */
.brands {
    background-color: #fff;
    padding: 126px 0;
}
.brands_title {
    margin-bottom: 80px;
}
.brands_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}
.brands_item {
    max-width: 286px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    /* justify-content: center; */
    align-items: center; 
    text-align: center;
}
.brand_image {
    max-width: 190px;
}
.brand_heading {
    font-family: 'Cardo', serif;
    font-size: 24px;
    line-height: 28px;
    color: #1b3764;
}
.brand_descr {
    font-size: 19px;
    line-height: 28px;
    color: #969aa0;
    margin-bottom: auto;
}
/* /brands============== */

/* order================ */
.order {
    background-color: #1b3764;
    padding: 70px 0;
}
.order_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    row-gap: 40px;
}
.order_data {
    max-width: 540px;
}
.order_descr {
    font-size: 19px;
    line-height: 28px;
    color: #b4c7e7;
    margin-bottom: 46px;
}
.order_image {
    max-width: 560px;
}
/* /order=============== */

/* learn================ */
.learn {
    padding: 136px 0;
    background-color: #fff;
}
.learn_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;
}
.learn_steps {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
}
.steps_item {
    background-color:#b4c7e7;
    max-width: 300px;
    min-height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    row-gap: 20px;
    
    font-family: 'Cardo', serif;
    color: #1b3764;
}
.steps_count {
    width: 50px;
    height: 50px;
    background-color:#ffca42;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.steps_descr {
    font-size: 24px;
    line-height: 33px;
}
.learn_image {
    max-width: 556px;
}
/* /learn=============== */